*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    /* margin: 16px; */
    /* display: flex; */
    
    justify-items: center;
    align-items: center;
}
h3{
    font-size:xx-large;
     color:rgb(255, 255, 255)
}
body{
    background-color: black;
    color:aliceblue;
}
.ty{
    padding: 40px;
    font-weight: bolder;
}
